*

# project root files
!.gitignore
!Dockerfile
!LICENSE
!README.md
!data_manifest.yml
!justfile
!main.nf
!nextflow.config
!pixi.lock
!pyproject.toml
!uv.lock
!refman.toml

# workflows
!/workflows
!/workflows/*.nf

# subworkflows
!/subworkflows
!/subworkflows/*.nf

# modules
!/modules
!/modules/*.nf

# bin
!/bin
!/bin/*.py

