params {
	
	// WORKFLOW PARAMETERS TO REVIEW AT EACH RUN
	// ----------------------------------------

	// File path to fastqs to search
	fastq_dir = null

	// Optional sequences to query in FASTA format. If not provided,
	// NCBI nt will be used
	query_fasta = null
	
	// Where to place results
	results = "$launchDir/results"

    // modify params.taxpath to point to your directory with the BBTools
	// taxonomy data, e.g. TAXPATH="/path/to/taxonomy_directory/"
    taxpath = null

	// Nt database store directory
	nt_storedir = null

	// Accession-2-TaxID database URLs
	accession2taxid_urls = [
		"ftp://ftp.ncbi.nih.gov/pub/taxonomy/accession2taxid/dead_nucl.accession2taxid.gz",
		"ftp://ftp.ncbi.nih.gov/pub/taxonomy/accession2taxid/dead_prot.accession2taxid.gz",
		"ftp://ftp.ncbi.nih.gov/pub/taxonomy/accession2taxid/dead_wgs.accession2taxid.gz",
		"ftp://ftp.ncbi.nih.gov/pub/taxonomy/accession2taxid/nucl_gb.accession2taxid.gz",
		"ftp://ftp.ncbi.nih.gov/pub/taxonomy/accession2taxid/nucl_wgs.accession2taxid.gz",
		"ftp://ftp.ncbi.nih.gov/pub/taxonomy/accession2taxid/pdb.accession2taxid.gz",
		"ftp://ftp.ncbi.nih.gov/pub/taxonomy/accession2taxid/prot.accession2taxid.gz"
	]

	// Which tool to use for classification (default is bbsketch)
	bbsketch = true
	sylph = null
	sourmash = null

	// whether to watch for reads in this directory to classify them in real time
	realtime_dir = null

	// download only mode for only downloading Nt, but not running
	// any classification
	download_only = false

    // whether to empty the work directory after the workflow
    // successfully finishes
    cleanup = false
	
	
	// WORKFLOW PARAMETERS THAT SHOULD NOT BE CHANGED
	// ----------------------------------------
	date = new java.util.Date().format('yyyyMMdd')

	// Find number of CPUs on system or node
	available_cpus = Runtime.getRuntime().availableProcessors() 
	
}


// WHETHER TO GENERATE A REPORT OF RUN STATISTICS
report {
    enabled = true
	overwrite = true
    file    = "${params.results}/report.html"
}


// WHETHER TO GENERATE A VISUALIZATION OF THE WORKFLOW
dag {
	enabled = true
	overwrite = true
	file = 'watch-hashbrowns-cook.png'
}


// WHETHER TO REMOVE TEMPORARY FILES AFTER A SUCCESSFUL RUN
cleanup = params.cleanup


// PROFILE OPTIONS
profiles {
	
	standard {
		
		docker.enabled = true
		docker.temp = 'auto'
		apptainer.enabled = false
		conda.enabled = false
		
		process.container = "nrminor/hash-browns:v0.0.4"
		
	}
	
	docker {
		
		docker.enabled = true
		docker.temp = 'auto'
		apptainer.enabled = false
		conda.enabled = false
		
		process.container = "nrminor/hash-browns:v0.0.4"
		
	}
	
	apptainer {
		
		apptainer.enabled = true
		docker.enabled = false
		conda.enabled = false
		
		process.container = "nrminor/hash-browns:v0.0.4"
		
	}

	local {
		
		apptainer.enabled = false
		docker.enabled = false
		conda.enabled = false
		process.executor = 'local'
		
	}

}


// MANIFEST
manifest {
	homePage = 'https://github.com/nrminor/hash-browns'
	mainScript = 'main.nf'
	defaultBranch = 'main'
	description = 'Metagenomic read classification well done.'
	author = 'Nicholas R. Minor'
}