params {
	
	// WORKFLOW PARAMETERS TO REVIEW AT EACH RUN
	// ----------------------------------------
	
	// Where to place results
	results = "$launchDir/results"

    // modify params.taxpath to point to your directory with the BBTools taxonomy data, e.g. TAXPATH="/path/to/taxonomy_directory/"
    taxpath = "auto"

    // whether to download the latest nt database
    download_nt = true

	// Nt database store directory
	nt_storedir = "~/.nt"

    // whether to empty the work directory after the workflow
    // successfully finishes
    cleanup = false
	
	
	// WORKFLOW PARAMETERS THAT SHOULD NOT BE CHANGED
	// ----------------------------------------
	date = new java.util.Date().format('yyyyMMdd')
	
}


// WHETHER TO GENERATE A REPORT OF RUN STATISTICS
report {
    enabled = true
    file    = "${params.results}/report.html"
}


// WHETHER TO GENERATE A VISUALIZATION OF THE WORKFLOW
dag {
	enabled = true
	overwrite = true
	file = 'watch-hashbrowns-cook.png'
}


// WHETHER TO REMOVE TEMPORARY FILES AFTER A SUCCESSFUL RUN
cleanup = params.cleanup


// PROFILE OPTIONS
profiles {
	
	standard {
		
		docker.enabled = true
		docker.temp = 'auto'
		apptainer.enabled = false
		conda.enabled = false
		
		process.container = "nrminor/hash-browns:v0.0.1"
		
	}
	
	docker {
		
		docker.enabled = true
		docker.temp = 'auto'
		apptainer.enabled = false
		conda.enabled = false
		
		process.container = "nrminor/hash-browns:v0.0.1"
		
	}
	
	apptainer {
		
		apptainer.enabled = true
		docker.enabled = false
		conda.enabled = false
		
		process.container = "nrminor/hash-browns:v0.0.1"
		
	}

	local {
		
		apptainer.enabled = false
		docker.enabled = false
		conda.enabled = false
		process.executor = 'local'
		
	}

}


// MANIFEST
manifest {
	homePage = 'https://github.com/nrminor/hash-browns'
	mainScript = 'main.nf'
	defaultBranch = 'main'
	description = 'Metagenomic read classification well done.'
	author = 'Nicholas R. Minor'
}